:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
/* -----------------------------------------------HEADER-------------------------------------------------- */

.container-nav {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

/* -----------------------------------------------LOGO-------------------------------------------------- */

.header-logo {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header .logo-accent {
  color: var(--primary-text-color);
}

.footer-logo {
  color: var(--accent-color);
}

.footer .logo-accent {
  color: var(--primary-white-color);
}

.footer-logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.header-logo:hover .logo-accent,
.header-logo:focus .logo-accent {
  color: var(--accent-color);
}

.footer-logo:hover .logo-accent,
.footer-logo:focus .logo-accent {
  color: var(--accent-color);
}

/* -----------------------------------------------SITE-NAV-------------------------------------------------- */

.header {
  border: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.header .container-nav {
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-items:not(:last-child) {
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.header-mail {
  display: inline-flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-right: 50px;
}

.mail-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  align-self: center;
}

.header-mail:hover .mail-icon,
.header-mail:focus .mail-icon {
  fill: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  display: inline-flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
}

.mob-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  align-self: center;
}

.header-tel:hover .mob-icon,
.header-tel:focus .mob-icon {
  fill: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* -----------------------------------------------HERO-------------------------------------------------- */

.hero {
  background: var(--footer-bg-color);
  text-align: center;
  padding: 200px 0;
}

.hero.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero-button {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  border: 1px solid var(--primary-text-color);
}

/* -----------------------------------------------ADVANTAGE-------------------------------------------------- */

.advantage {
  padding-top: 94px;
}

.advantage-list {
  display: flex;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-item {
  width: 270px;
}

.advantage-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--button-bg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.advantage-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantage-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -----------------------------------------------ACTIVITY-------------------------------------------------- */

.activity {
  color: var(--primary-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity-job {
  display: flex;
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.activity-item {
  width: 370px;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

/* -----------------------------------------------TEAM-------------------------------------------------- */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-bg-color);
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  padding-bottom: 30px;
}

/* -----------------------------------------------PORTFOLIO-------------------------------------------------- */

.portfolio {
  padding: 94px 0;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .filter-item + .filter-item {
  margin-left: 8px;
}

.portfolio-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--button-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.content {
  padding: 20px 21px;
  background: #ffffff;
  border: 1px solid var(--button-bg-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* -----------------------------------------------FOOTER------------------------------------------------- */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  width: 231px;
}

.footer-contacts a {
  display: block;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);
  margin-top: 9px;
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);
  margin-top: 9px;
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-adress {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-top: 20px;
}
